<form action="" class="col-md-4 offset-4 mt-5 card card-body" #form = "ngForm" (ngSubmit)="loginData(form)">
    <h1 class="text-center bg-dark text-white">form 1</h1>
    <div class="form-group">
        <input type="text" name="companyName" id="companyName" class="form-control" placeholder="enter company name" #companyName="ngModel" ngModel required>
        <div *ngIf="companyName.touched && companyName.invalid">
      <p class="alert alert-danger" *ngIf="companyName.errors.required">this field is required</p>
    </div>
</div>
    <div class="form-group">
        <button type="button" class="btn btn-white dropdown-toggle" id="dropdownMenuOffset">
          skills
        </button>
    </div>
    <div class="form-group">
        <input type="number" name="yearsOfExperience" id="yearsOfExperience" class="form-control"  placeholder="enter years of experience" #yearsOfExperience = "ngModel" ngModel>
       <div *ngIf = "yearsOfExperience.touched && yearsOfExperience">
           <p class="alert alert-danger" *ngIf="yearsOfExperience.errors.required">this field is required</p>
       </div> 
    </div>
    
    <div class="form-group">
        <input type="text" name="MCTC" id="MCTC" class="form-group" placeholder="MCTC" #MCTC ="ngModel" ngModel>
    </div>
    <div class="form-group">
        <input type="text" name="location" id="location" class="form-control" placeholder="enter location" #location="ngModel" ngModel>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right">add requirement</button>
    </div>

</form>
