<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/property-binding">property-binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/event-binding">event-binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/two-way-binding">two-way-binding</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/ng-for">ng-for component</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/ngSwitch">ngSwitch-component</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/register">register</a>
              </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/registerform1">registerform1</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/registerform2">registerform2</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="/registerform3">registerform3</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/registerform4">registerform4</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" routerLink="/reactive-form">reactive-form</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/parent">parent</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" routerLink="/comment-details">comment details</a>
                      </li>
          <!-- </ul> -->
        
        <!-- <ul class="navbar-nav ml-auto"> -->
        <li class="y1 nav-item active">
            <a class="nav-link" routerLink="/ng-if">login</a>
          </li>
        </ul>
          </div>

     